{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint modi illum quas blanditiis, ipsa similique nostrum, maxime eos sed consequatur vero facere quae, porro facilis cumque dignissimos vitae autem. Obcaecati.
        Nemo consequuntur excepturi ut, esse sunt eaque temporibus? Quasi temporibus laborum eius numquam est dolore, nulla voluptates facilis suscipit? Dignissimos impedit, odit quia officia illo magni minima quisquam eveniet iure.
        Dolorem laborum expedita perspiciatis accusamus natus. Laborum eligendi dolores incidunt possimus atque sapiente vero similique id et. Quaerat nihil odio, beatae quas fugiat, repellat animi id in eveniet optio distinctio.
        Voluptate illum placeat voluptas obcaecati quaerat. Ad esse iure ab, dolores fugiat hic mollitia consequatur assumenda dolore, obcaecati debitis architecto accusamus nobis deserunt molestias amet vitae inventore ratione praesentium eius?
        Sapiente veniam eum labore impedit necessitatibus adipisci iure quas. Magnam harum voluptas, rerum fugit id ab. Esse cum accusamus facilis! Dignissimos doloremque excepturi cum numquam ipsa! Impedit, neque? Corporis, doloribus!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">SignUp</a>
        </div>
    </section>
</main>
    
{% endblock %}